
<h1>*ngFor</h1>
<input type="text" [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">There is no name</li>
  <li *ngFor="let name of names; index as idx">
    {{ idx + 1 }} {{ name }}
    <button (click)="deleteName(idx)">Delete</button>
  </li>
</ul>


<hr>
<h1>*ngIf</h1>

<p *ngIf="person.name === 'Pablo'">This Pablo</p>
<p *ngIf="person.name === 'Julio' && person.age === 18; else elseBlock">This Julio</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>


<button [disabled]="btnDisabled"> A button </button>

<button (click)="toggleButton()"> Toggle Button </button>
<button (click)="increaseAge()"> plus age </button>

<div class="box" (scroll)="onScroll($event)">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</div>

<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>{{ person.name }}</p>

<hr>
<h1>Ng Model</h1>

<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" >
<p>Valid: {{ nameInput.valid }}</p>

<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" >
<p>Valid: {{ ageInput.valid }}</p>

<hr>
<input type="text" [value]="person.name">
<progress max='100' [value]='person.age'></progress>
<img width="100" [src]="person.avatar" alt="" />

<hr>
<h1>Hi there!</h1>
<h2>{{ 'Hi there! '.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hi, my name is {{ name }}</h3>
<h3>I am {{ age }} years old</h3>
<img src="{{ myImg }}" alt="" />
